{
  :db {
    :dbtype "mysql"
    :dbname "pinpet"
    :host "127.0.0.1"
    :user "root"
    :password "toor"
  }
  :mqtt {
    :protocol "tcp"
    :host "127.0.0.1"
    :port 1883
    :topic "locations"
  }
}
